@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");

:root {
    --fretboard-height: 300;
    --number-of-strings: 6;
    --string-height: 10;
    --half-string-height: calc(var(--string-height) / 2);
    --string-top-position: calc(var(--fretboard-height) / var(--number-of-strings) / 2 - var(--half-string-height));
    --noteDotOpacity: 0;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background: #353535;
    font-family: Lato, sans-serif;
}
.settings {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 20px;
    border-bottom: 1px solid #4444;
    background: #282828;
}



.accidental-selector {
    display: flex;
    padding: 6px;
    margin-left: 20px;
    background: #1d4a63;
    border-radius: 6px;
}

.accidentalHeading {
    padding: 6px;
    display: flex;
    border-radius: 6px;
    background: #44a0d6;
}

.showAllNotes {
    padding: 6px;
    display: flex;
    border-radius: 6px;
    background: #44a0d6;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

label {
    margin: 0 10px;
}

.fretboard {
    display: flex;
    flex-direction: column;
    background: #be975b url(./images/guitarFretboard.png);
    width: 100%;
    min-width: 100px;
    height: calc(var(--fretboard-height) * 1px);
    margin-top: 60px; 
}
.string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.string:before {
    content: '';
    width: 100%;
    height: calc(var(--string-height) * 1px);
    background: linear-gradient(#787676, #dad8d8);
    box-shadow: 76px 3px 10px #856c45;
    z-index: 1;
    position: absolute;
    top: 22px;
    top: calc(var(--string-top-position) * 1px);
}


.note-fret {
    display: flex;
    flex: 1;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #9f9f9f, #a3a3a3,#ededed) 1 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.note-fret:first-child {
    background: #271c09;
    border-right: 14px solid;
    min-width: 76px;
    flex-grow: 0;
    flex-shrink: 0;
    border-image: linear-gradient(to left, #cd9e0f, #ffecc7, #ffe8a5) 1 100%;
}

.note-fret:before {
    content: attr(data-note);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    background: var(--noteDotColor);
    z-index: 2;
    color: #eee;
    font-weight: bold;
    opacity: var(--noteDotOpacity);
}

.single-fretmark:after, .double-fretmark:before, .double-fretmark:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #f2f1f0 ;
}

.single-fretmark:after {
    top: 150px;
    transform: translate(0, -50%)
}

.double-fretmark:before {
    top: 80px;
    transform: translate(-145%, 50%);

}
.double-fretmark:after {
    top: 180px;
    transform: translate(-145%, 50%);   
}


.note-name-section {
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}

.note-name-section span {
    padding: 10px;
    cursor: pointer;
}

.note-name-section span:hover {
    color: #133687
}

.chord-name-section {
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}

.toggleMode {
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 3px;
}

.root-note {
    color: red; /* Change this to the color you want for the root note */
}

.note-section-container {
    display: flex;
    padding: 12px;
    background-color: #44a0d6;
    border-radius: 20px;
}

.chord-section-container {
    display: flex;
    padding: 12px;
    background-color: #44a0d6;
    border-radius: 20px;
}


.center-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    width: fit-content; /* Adjust width as needed */
    margin: 0 auto; /* Automatically center the container horizontally */
}

.center-text {
    padding: 8px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}